


/*---- style ----*/

body {
	max-width: 960px;
	margin: 0 auto;
	background: url(../images/bg.png) 
}


#wrapper {
	width: 100%; /* 900px */
}


.lrd-text {
	margin: -1000px;
}

h1, h2, h3 {
	font-family: 'Raleway Dots', cursive;
	font-size: 4em; /* 36px; */
}

p { font-family: 'Raleway Dots', helvetica, sans-serif;
	font-size: 1em; /* 14px; */
	
}

a {
	font-family: 'Raleway Dots', helvetica, sans-serif;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: gray;
}

a:active {
	color: black;
}
/*---- logo ----*/

#logo {
	margin-left: 2.222222222222%; /* 20px; */ 
	margin-bottom: -9%; /*- 85px; -*/
	clear: left;
	width: 80px;
}

/*---- nav ----*/

header {
	border-bottom: .30em solid black;
	margin-bottom: 2%; /* 20px; */
}

nav {
	margin-bottom: 4.5%; /* 40px; */
	/*- margin left: 20px; -*/
	padding: 0;
	overflow: hidden;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

nav ul {
	width: 84.444444444444%; /* 580px; */
	margin: auto;
	list-style-type: none;
	line-height: 85px;
	float: right;
}

nav ul li {
	width: 25.862068965517%; /* 150px; */ 
	float: right;
	background: rgba(0,0,0,0.3);
}

nav ul li a {
	text-decoration: none;
	background-color: rgba(0,0,0,0.3);
	display: block;
	width: 100%; /* 150px; */
	text-align: center;
	font-family: 'OstrichSansBold', serif;
	font-size: 30px;
}

nav ul li a:link {
	color: black;
}

nav ul li a:visited {
	color: black;
}

nav ul li a:hover {
	color: #e9e9e9;
}

nav ul li a:active {
	color: black;
}

/*---- what we are about ----*/

.about img {
	float: left;
	width: 40%; /* 360px; */
	padding: 0% 8.333333% 8.3333333% 5.555556%; /* 0px 30px 30px 20px; */
	margin-right: 3.3333333%; /* 30px; */
}

.about h1 {
	text-shadow: 10px 15px 11px gray;
	font-size: 3em; /* 36px; */
	text-align: left;
	padding-right: 3.333333%; 
	
}

.about p {
	font-family: 'Rale Way Dots', sans-serif;
	font-size: 1.25em; /* 24px; */
	text-align: justify;
	margin-left: 3.3333333%; /* 30px; */
	padding: 0% 3.333333% 8.3333333% 5.555556%; /* 0px 30px 30px 20px; */
}


/*---- gallery ----*/




#gallery {
	width: 100%;
	clear: left;
}

#gallery h2 {
	margin-left: 2.222222%; /* 20px; */
}

#gallery ul {
	/*border: 10px inset black;*/
	list-style-type: none;
	width: 97.222222%; /* 875px; */
	margin: 1.666667%; /* 15px auto; */
	overflow: hidden;
	padding: .571429%; /* 5px; */

}

#gallery li {
	float: left;
	margin-left: 2.75%; /* 15px auto; */
}

#gallery a {
	width: 100%;
	border: 10px solid black;
	-moz-border-radius: 1.714286%; /* 15px; */
	border-radius: 1.714286%; /* 15px; */
	display: block;
	width: 100%; /* 250px; */
	height: 100%; /* 250px; */
	outline: 0;
}

#gallery a:link {
	border-color: black;
}

#gallery a:visited{
	border-color: gray;
}

#gallery a:hover{
	border-color: white;
}

#gallery a:active{
	border-color: gray;
}

img {
	max-width: 100%;
}





/*---- article & aside ----*/

.info {
	margin-left: 2.222222%; /* 20px; */
}

.info #columns {
	width: 100%; /* 900px; */
	margin-top: -2.222222%; /* -20px; */
	padding: 1.111111%; /* 10px; */
	font-family: 'Raleway Dots', helvetica, sans-serif;
	text-align: left;
	-moz-column-count: 3;
	-moz-column-gap: 15px;
	-webkit-column-count: 3;
	-webkit-column-gap: 15px;
	column-count: 3;
	column-gap: 15px;
	background-color: rgba(0,0,0,0.10);
	-moz-border-radius: 10px;
	border-radius: 10px;
    /* fallback/image non-cover color */
    background-color: #1a82f7; 
    /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#e9e9e9), to(#fff));
    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #e9e9e9, #fff);
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #e9e9e9, #fff);
    /* IE 10+ */
    background-image: -ms-linear-gradient(top, #e9e9e9, #fff);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #e9e9e9, #fff);
}


.info ul {
	margin-left: 2.222222%; /* 20px; */
	padding: 2%; /* 10px; */
	width: 55.555556%; /* 500px; */
	font-family: 'Raleway Dots', helvetica, sans-serif;
	font-size: 1.75em; /* 24px; */
	color: black;
	float: left;
}

.info li {
	margin-top: -2.222222%; /* -20px; */
	display: block;
	float: left;
	color: black;
}

.twitter {
	width: 23.33333333333%; /* 300px; */
	padding: 3.333333333333%; /* 10px; */
	font-family: 'Raleway Dots', helvetica, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	overflow: hidden;
	height: 50px;
	text-align: center;
	float: right;
	background-color: rgba(0,0,0,0.10);
	-moz-border-radius: 10px;
	border-radius: 10px;
    /* fallback/image non-cover color */
    background-color: #1a82f7; 
    /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#e9e9e9), to(#fff));
    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #e9e9e9, #fff);
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #e9e9e9, #fff);
    /* IE 10+ */
    background-image: -ms-linear-gradient(top, #e9e9e9, #fff);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #e9e9e9, #fff);
}


/*----- table -------*/

table {
	font-family: Helvetica, sans-serif;
	width: 55.555555555556%; /* 500px; */
	border-collapse: collapse;
	border: 1px solid #000;
	margin-left: 2.222222%; /* 20px; */
	float: left;
}

td {
	border: 1px solid #000;
	padding: 0.3em;
	
}

th {
	font-family: 'Raleway Dots', helvetica, sans-serif;
	text-align: left;
	background-color: #999;
	color: #fff;
	padding: 0.3em;
	text-decoration: underline;
}

.odd {
	background-color: silver;
}

/*---- form -----*/

#thewash {
	margin-top: 2.222222%; /* 20px; */
	display: block;
	clear: left;
}

form {
	width: 23.33333333333%; /* 300px; */
	float: right;
	margin: 2.222222%; /* 20px; */
	border: none;
	font-family: Helvetica, sans-serif;
}

form label {
	display: block;
	float: left;
	clear: left;
	margin: 3.333333333333% 0; /* 10px; */
}

form label b {
	display: block;
	float: left;
	width; width: 26.666666666667; /* 80px; */
	margin-right: 2.222222%; /* 20px; */
}

form label input, form label textarea, form label select {
	float: left;
	width: 180px;
}

form label input [type="radio"]
form label input [type="checkbox"] {
	width: 26.666666666667; /* 80px; */
}

form p {
	clear: left;
	margin: 10px 0 0;
}

form input [type="submit"] {
	margin-left: 10%; /* 100px; */
	float: left;
}



/*---- footer ----*/


footer {
	/* height: 100px; */
	width: 44.444444%; /* 400px; */
	margin: auto;
}
footer p{
	margin: auto;
	padding: 5%; /* 20px; */
	font-family: 'Raleway Dots', helvetica, sans-serif;
	font-size: 1.50em; /* 24px; */
	clear: both;
}


/* =Media Queries ========== */

	/*Tablet Portrait size to standard 960(devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
	
		#wrapper {background-image: url(../images/bg.png)}   
		h1, h2, h3 { font-family: 'Raleway Dots', helvetica, sans-serif; font-size: 4em; } /* 36px; */

		p { font-family: 'Raleway Dots', helvetica, sans-serif;
			font-size: 1em; } /* 14px; */
	
			}
	
	
	/*Tablet Portrait size to standard 960(devices and browsers) */
	@media screen and (min-width: 480px) and (max-width: 767px) {
	
		#wrapper {background-image: none; background-color: #fff}
		h1, h2, h3, p {font-family: "Helvetica Neue", Arial}
		.info #columns {
			width: 100%; /* 900px; */
			margin-top: -2.222222%; /* -20px; */
			padding: 1.111111%; /* 10px; */
			font-family: 'Raleway Dots', helvetica, sans-serif;
			text-align: left;
			-moz-column-count: 2;
			-moz-column-gap: 15px;
			-webkit-column-count: 2;
			-webkit-column-gap: 15px;
			column-count: 2;
			column-gap: 15px;
			background-color: rgba(0,0,0,0.10);
			-moz-border-radius: 10px;
			border-radius: 10px;
		    /* fallback/image non-cover color */
		    background-color: #1a82f7; 
		    /* Safari 4+, Chrome 1-9 */
		    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#e9e9e9), to(#fff));
		    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
		    background-image: -webkit-linear-gradient(top, #e9e9e9, #fff);
		    /* Firefox 3.6+ */
		    background-image: -moz-linear-gradient(top, #e9e9e9, #fff);
		    /* IE 10+ */
		    background-image: -ms-linear-gradient(top, #e9e9e9, #fff);
		    /* Opera 11.10+ */
		    background-image: -o-linear-gradient(top, #e9e9e9, #fff);
			}
		.about {float: none;} 
		form {float: none; margin: auto;}
		table {float: none; margin: auto;}
	}
	
	
	/*Tablet Portrait size to standard 960(devices and browsers) */
	@media screen and (max-width: 479px) {
	
		#wrapper {background-image: none; background-color: #fff}
		section, aside {float: none; width: 90%;}
		h1, h2, h3, p {font-family: "Helvetica Neue", Arial}
		aside {display: none;}
		#logo {float: none; overflow: hidden; margin: auto; width: 120px;}
		nav ul li {display: inline-block;}
		.about h1, .about p {display: none; text-align: left;}
		.about #about-image {margin: auto;}
		
		.info #columns {
			width: 100%; /* 900px; */
			margin-top: -2.222222%; /* -20px; */
			padding: 1.111111%; /* 10px; */
			font-family: 'Raleway Dots', helvetica, sans-serif;;
			text-align: left;
			-moz-column-count: 1;
			-moz-column-gap: 15px;
			-webkit-column-count: 1;
			-webkit-column-gap: 15px;
			column-count: 1;
			column-gap: 15px;
			background-color: rgba(0,0,0,0.10);
			-moz-border-radius: 10px;
			border-radius: 10px;
		    /* fallback/image non-cover color */
		    background-color: #1a82f7; 
		    /* Safari 4+, Chrome 1-9 */
		    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#e9e9e9), to(#fff));
		    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
		    background-image: -webkit-linear-gradient(top, #e9e9e9, #fff);
		    /* Firefox 3.6+ */
		    background-image: -moz-linear-gradient(top, #e9e9e9, #fff);
		    /* IE 10+ */
		    background-image: -ms-linear-gradient(top, #e9e9e9, #fff);
		    /* Opera 11.10+ */
		    background-image: -o-linear-gradient(top, #e9e9e9, #fff);
			}
			
			header {
				border-bottom: .30em solid black;
				margin-bottom: 2%; /* 20px; */
			}
			
			nav {
				margin-top: 10%;
				margin-bottom: 4.5%; /* 40px; */
				/*- margin left: 20px; -*/
				padding: 0;
				overflow: hidden;
				-moz-border-radius: 5px;
				border-radius: 5px;
				
			}
			
			nav ul {
				width: 84.444444444444%; /* 580px; */
				margin: auto;
				list-style-type: none;
				line-height: 85px;
				overflow: hidden;
			}
			
			nav ul li {
				width: 25.862068965517%; /* 150px; */ 
				float: none;
				background: rgba(0,0,0,0.3);
			}
			
			nav ul li a {
				text-decoration: none;
				background-color: rgba(0,0,0,0.3);
				display: block;
				width: 100%; /* 150px; */
				text-align: none;
				font-family: 'OstrichSansBold', serif;
				font-size: 1.4em;
			}
			
			nav ul li a:link {
				color: black;
			}
			
			nav ul li a:visited {
				color: black;
			}
			
			nav ul li a:hover {
				color: #e9e9e9;
			}
			
			nav ul li a:active {
				color: black;
			}
			
			
			.twitter {
				width: 90%; /* 300px; */
				margin-top: -2.222222%; /* -20px; */
				padding: 1.111111%; /* 10px; */
				font-family: 'Raleway Dots', helvetica, sans-serif;
				font-size: 1.5em;
				overflow: hidden;
				height: 50px;
				text-align: center;
				float: right;
				background-color: rgba(0,0,0,0.10);
				-moz-border-radius: 10px;
				border-radius: 10px;
			    /* fallback/image non-cover color */
			    background-color: #1a82f7; 
			    /* Safari 4+, Chrome 1-9 */
			    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#e9e9e9), to(#fff));
			    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
			    background-image: -webkit-linear-gradient(top, #e9e9e9, #fff);
			    /* Firefox 3.6+ */
			    background-image: -moz-linear-gradient(top, #e9e9e9, #fff);
			    /* IE 10+ */
			    background-image: -ms-linear-gradient(top, #e9e9e9, #fff);
			    /* Opera 11.10+ */
			    background-image: -o-linear-gradient(top, #e9e9e9, #fff);
			 }
			 
			 section #ft {display: none;}
			
		}



